:root {
  --c-dark-blue: #010122;
  --c-footer-bg: #4c4d64;
  --c-page-background: rgba(166, 166, 166, 0.9);
  --c-grey: rgb(206, 200, 200);
  --c-error: rgb(220, 53, 69);
  --c-success: #28a745;
}

* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
h1,
h2,
h3,
a {
  font-family: "Bodoni Moda", serif;
}
h1 {
  font-size: 3.4rem;
  line-height: 0;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}
h4 {
  text-decoration: underline;
  margin: 0 0 10px;
}

p,
button {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0 0 10px;
}
button {
  cursor: pointer;
}

hr {
  border-color: grey;
  width: 100%;
}
